.DS_Store
node_modules
package-lock.json
dist
.env
.env.*
*.local
backend/data
backend/uploads
python/marcelle-logs
python/**/__pycache__
python/.python-version
python/**/*.pkl
*.key
sources/A0_introduction/0_introduction_to_ai_and_machine_learning.key